.wrapper
	header.header
		.header__topline
			nav.header__nav-left
				ul
					li
						a(href="#") Информация
					li
						a(href="#") Фото и видео
			nav.header__nav-right
				ul
					li
						a(href="#") Карта штата
					li
						a(href="#") Гостинциы
			.header__logo-wrap
			.header__logo
				img(src="img/logo.png" alt="logo")
		.header__main
			img(src="img/Welcome.png" alt="Welcome")
			img(src="img/gorgeus.png" alt="to the gorgeus")
			img(src="img/sedona.png" alt="Sedona")
			img(src="img/because.png" alt="Because grand canyon sucks!")
			h2.header__main-heading СЕДОНА — небольшой городок в АРИЗОНЕ,<br> зАСЛУЖИвающий большего!
			h3.header__main-subheading Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!