.wrapper
	section.teaser
		.teaser__city-left
			h3.teaser__name НАСТОЯЩИЙ<br>ГОРОДОК
			p.teaser__reason-number — №1 —
			p.teaser__reason СЕДОНА НЕ АТРАКЦИОН ДЛЯ ТУРИСТОВ,<br>ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ
		.teaser__city-right
			img(src="img/city.jpg" alt="The real city!")
		.teaser__tiles
			.teaser__tile
				i.teaser__icon-house
				h3.teaser__tile-heading Жилье
				p.teaser__tile-text Рекомендуем пожить в настоящем мотеле, все как в кино!
			.teaser__tile
				i.teaser__icon-food
				h3.teaser__tile-heading Еда
				p.teaser__tile-text Всегда заказывай ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!
			.teaser__tile
				i.teaser__icon-gift
				h3.teaser__tile-heading Сувениры
				p.teaser__tile-text Не только китайского, но и местного производства!
		.teaser__bridge-right
			h3.teaser__name ТАМ ЕСТЬ<br> Мост дьявола
			p.teaser__reason-number — №2 —
			p.teaser__reason Да, по нему можно пройти!<br> Если конечно вы осмелитесь
		.teaser__bridge-left
			img(src="img/canyon.jpg" alt="Devil's bridge!")
		.teaser__feature-tile
			h3.teaser__tile-heading НЕБОЛЬШАЯ<br>ПЛОЩАДЬ
			p.teaser__reason-number — №3 —
			p.teaser__tile-text ВСЕ достопримеча-<br>тельности находятся очень близко
		.teaser__feature-tile
			h3.teaser__tile-heading КРАСИВАЯ<br>ДОРОГА
			p.teaser__reason-number — №4 —
			p.teaser__tile-text ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем<br> НЕ СКУЧНО!
		.teaser__feature-tile
			h3.teaser__tile-heading МАЛО<br>ТУРИСТОВ
			p.teaser__reason-number — №5 —
			p.teaser__tile-text Большинство едет в гранд каньон и<br>толпится там
